<div class="mt-4">
    <form role="search" method="POST" action="">
        <div class="d-flex form-group">
            <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
        
        <div class="form-group mt-4">
            <select class="form-select" name="gender" aria-label="Default select example">
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
    </form>
</div>